* {
  box-sizing: border-box;
  background-repeat: no-repeat;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  margin: 0;
  line-height: 1;
}

article,
aside,
footer,
header,
nav,
section,
main,
figcaption,
figure,
menu,
details {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

img {
  display: block;
  border: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

p {
  margin: 0;
  padding: 0;
}

address,
cite,
dfn,
em,
var {
  font-style: normal;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  background-color: transparent;
  font-size: inherit;
  color: inherit;
  text-decoration: none;
}
a:active, a:hover {
  outline: 0;
}

:focus {
  outline: 0;
}

button,
input,
select,
textarea {
  margin: 0;
  font-size: inherit;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  padding: 0;
  border: 0;
  color: inherit;
  background-color: transparent;
  -webkit-appearance: button;
  cursor: pointer;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  padding: 0;
  line-height: normal;
}
input::-webkit-input-placeholder {
  font-weight: 300;
}
input::-ms-input-placeholder {
  font-weight: 300;
}
input::-moz-placeholder {
  font-weight: 300;
}

[type=number] {
  -moz-appearance: textfield;
}
[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  margin: 0;
  height: auto;
  -webkit-appearance: none;
}

[type=search] {
  -webkit-appearance: textfield;
}
[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  resize: none;
  -webkit-appearance: none;
}

select {
  -webkit-appearance: none;
  background-color: #fff;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
body {
  min-height: 100vh;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.nav__container {
  display: flex;
  padding: 1rem;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.nav__container .nav__tab-btn {
  font-family: "Playfair Display", serif;
  font-size: 1rem;
  font-weight: 500;
  color: black;
}
@keyframes growFromWithin {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
.nav__container .nav__tab-btn--selected::after {
  animation: growFromWithin 0.3s ease forwards;
  content: "";
  width: 100%;
  display: block;
  border: 1px solid black;
}

#content {
  flex: 1;
  background: url("../assets/banner-mobile.jpg");
  background-position: center;
  background-size: cover;
  z-index: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1.5rem;
  justify-content: flex-start;
}
#content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: inherit;
  background-size: cover;
  background-position: center;
  filter: blur(3px) brightness(0.5); /* Adiciona o efeito de desfoque */
  z-index: -1;
}
#content .headline__title {
  font-family: "Playfair Display", serif;
  font-size: 2rem;
  font-weight: 600;
  color: white;
  margin-top: 1rem;
}
#content .headline__text {
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: white;
  line-height: 1.25;
}
#content .headline__button {
  align-self: center;
  border: 0 solid;
  border-radius: 0.25rem;
  line-height: 1.25;
  background-color: #ff1a1a;
  padding: 0.5rem;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-size: 1.25rem;
  font-weight: 500;
  color: white;
}

.pizza-cards__container {
  display: grid;
  grid-template: 100%/100%;
  gap: 1rem;
  width: 100%;
}
.pizza-cards__container .pizza-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  gap: 0.75rem;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  text-align: center;
  border: 1px solid whitesmoke;
}
.pizza-cards__container .pizza-card__title {
  font-family: "Playfair Display", serif;
  font-size: 1.5rem;
  font-weight: 600;
  color: white;
}
.pizza-cards__container .pizza-card__description, .pizza-cards__container .pizza-card__price {
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: white;
}
.pizza-cards__container .pizza-card__button {
  border: 0 solid;
  border-radius: 0.25rem;
  line-height: 1.25;
  background-color: #ff1a1a;
  padding: 0.5rem;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  color: white;
}
.pizza-cards__container .pizza-card__img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 60%;
  aspect-ratio: 1/1;
}/*# sourceMappingURL=style.css.map */